$pasqal-dark-green: #0f1e23;
$pasqal-soft-green: #173035;
$pasqal-bright-green: #e1f6e9;
$pasqal-mint-green: #00c887;
$pasqal-neon-blue: #92DCE5;

$apple-blossom: #ac4142;
$alto: $pasqal-bright-green;
$bouquet: #aa759f;
$chelsea-cucumber: $pasqal-mint-green;
$cod-grey: #151515;
$conifer: $pasqal-mint-green;
$dove-grey: $pasqal-bright-green;
$gallery: $pasqal-bright-green;
$grey: $pasqal-bright-green;
$gulf-stream: $pasqal-mint-green;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: $pasqal-bright-green;
